* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #344563;
}

.connect-via {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.works1 {
  background-color: #dfe1e6;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(552px, auto);
  grid-gap: 10px;
}

@media only screen and (max-width: 780px) {
  /* for phone  * */
  .connect-via {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: -30px auto auto -40px;
  }

  .fr,
  .sk {
    border-bottom: 1px solid #dfe1e6;
    width: 75%;
  }

  .sty {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .mobile-hidden {
    display: none;
  }

  .menu {
    display: none;
  }

  .cardpic1 {
    display: none;
  }

  .sz  /*size */ {
    width: 355px;
  }

  .container {
    display: flex;
    flex-direction: row;
    column-gap: 77%;
    margin-top: 22px;
  }

  .worksec1 {
    position: static;
    width: 327px;
    height: 530px;
    margin: 25px;
    top: 40%;
    border-radius: 9px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: white;
    padding-bottom: 142px;
    padding-top: 76px;
    display: flex;
    margin-left: 14px;
    flex-direction: column;
  }

  .cardpic {
    margin: 8px;
    margin-top: -45px;
    width: 95%;
  }

  .project1-btn {
    position: static;
    width: 124px;
    height: 48px;
    font-style: normal;
    padding: 12px;
    border-radius: 8px;
    font-weight: 380;
    background: #fff;
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    flex: none;
    margin: 22px;
    margin-top: -19px;
    border: 1px solid #6070ff;
  }

  .lang {
    display: flex;
    margin-top: -70px;
    text-align: center;
    color: #6070ff;
    flex: none;
    flex-direction: row;
    height: 24px;
    background: #ebebff;
    background-size: cover;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    align-items: center;
  }

  .discpara {
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 20px;
    width: 327px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 146px;
    line-height: 24px;
    left: 24px;
    top: 276px;
    margin-top: 15px;
  }

  h1 {
    margin-top: -27px;
    color: #172b4d;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
  }

  .canopy {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .list1 {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card-info {
    margin-top: -20px;
    margin-left: 20px;
    flex-wrap: wrap;
  }

  .tonic1 {
    margin-left: 23px;
    margin-top: -10px;
  }

  .counters {
    flex: none;
    width: 8px;
    height: 8px;
    left: 67px;
    top: 12px;
  }

  .abouttxt {
    margin-left: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .get-btn {
    margin-left: 30px;
    position: static;
    width: 158px;
    height: 48px;
    font-style: normal;
    padding: 12px;
    border-radius: 8px;
    font-weight: 380;
    background: #fff;
    margin-top: -10px;
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    flex: none;
    border: 1px solid #6070ff;
  }

  .con,
  .via {
    margin-left: 25px;
    margin-top: -50px !important;
  }

  .via {
    margin-top: -30px !important;
  }

  .ellipse {
    border: 1px solid #fff;
    width: 48px;
    height: 48px;
    left: 12px;
  }

  .language1 {
    list-style-type: none;
    margin-top: 50px;
    margin-left: -5px;
  }

  .plang {
    float: right;
    margin-right: 210px;
    color: #253858;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .footerpara {
    color: #ebebff;
    margin-left: 23px;
    font-style: normal;
  }

  .contact1 {
    margin-right: 23px;
    text-align: center;
    color: white;
  }

  .arrow {
    float: right;
    margin-top: -60px;
    margin-left: 85%;
  }

  .lang1 {
    background-color: #f7f7f9;
    gap: 20px;
    width: 100%;
  }

  .darrow2 {
    float: right;
    left: 84%;
    position: absolute;
    margin-top: -45px;
  }

  .mv1 {
    margin-right: 230px;
    margin-top: -30px;
    margin-left: 45px;
  }

  .mv2 {
    margin-right: 236px;
    margin-top: -30px;
  }

  .mv3 {
    margin-left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .mv4 {
    margin-right: 200px;
    margin-top: -30px;
  }

  .main {
    background-image: url("assets/images/shapesbg.svg");
    background-repeat: no-repeat;
    height: 530px;
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .header {
    display: flex;
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    line-height: 52px;
    align-items: center;
    color: #172b4d;
  }

  .lets-connect {
    position: static;
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -10px;
  }

  .lets-connect:hover {
    color: blue;
  }

  .social-mv {
    margin-top: 14px;
    margin-left: -3px;
    padding-left: 1px;
  }

  .intropara {
    position: static;
    width: 327px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 146px;
    line-height: 24px;
    left: 24px;
    top: 276px;
    color: #344563;
  }

  footer {
    background-image: url("./assets/images/Contact_me.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 710px;
    padding: 24px;
    margin-top: 113.8px;
    margin-left: -60px;
    margin-right: -100px;
    margin-bottom: -60px;
  }

  footer p {
    text-align: center;
    margin-bottom: 87px;
  }

  input {
    height: 48px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    padding-left: 16px;
  }

  textarea {
    height: 170px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #b3bac5;
    padding-left: 16px;
  }

  .form-button {
    height: 48px;
    padding: 12px 16px;
    width: 140px;
    background: #fff;
    border-radius: 8px;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  form {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: left;
  }

  .form-button:active {
    color: white;
    background: #2230d2;
  }

  .form-button:hover {
    background: #6070ff;
    color: #fff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .form-button:disabled {
    background: white;
  }

  .main1 {
    max-width: 300px;
    margin: auto;
  }

  body {
    overflow-x: hidden;
    margin-left: -38px;
  }

  .mobile-mv {
    margin: -50px auto auto -10px;
  }

  .mobile-mv-1 {
    margin-top: -2px;
    margin-left: -20px;
  }

  .mobile-mv2 {
    margin-left: -40px;
  }
}

/****************** END of media for phone *********************************************************************/
@media screen and (min-width: 1100px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .main {
    background-image: url("assets/images/deskHeaderbg.png");
    background-size: 100%;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 24px;
  }

  .Hambugrer_menu {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    column-gap: 70%;
    margin-top: 40px;
    margin-left: 50px;
  }

  .menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  .header {
    width: 920px;
    height: 122px;
    margin-left: 227px;
    margin-top: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .intropara {
    position: static;
    width: 750px;
    margin-left: 227px;
    margin-top: 70px;
    height: 98px;
    top: 134px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .lets-connect {
    margin-top: -10px;
    margin-left: 227px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .lets-connect-desktop2 {
    /* bottom */
    margin-top: -50px;
    margin-left: 227px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .connect-via {
    margin-left: 227px;
    margin-top: 10px;
  }

  .cardpic1 {
    position: static;
    width: 100%;
    height: 448px;
    left: 24px;
    margin-left: 12px;
    top: 24px;
    border-radius: 8px;
    margin-top: -40px;
  }

  .sz2  /*size of works1*/ {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardpic {
    display: none;
  }

  .worksec1d {
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    width: 86%;
    height: 530px;
    margin: 25px 0 25px 0;
    border-radius: 9px;
    background: white;
    padding-bottom: 142px;
    padding-top: 76px;
  }

  head .aboutsf {
    display: flex;
    flex-direction: column;
  }

  .aboutsec1d {
    display: flex;
    flex-direction: row;
    column-gap: 180px;
    width: 85%;
    height: 530px;
    margin-left: -55px;
    border-radius: 9px;
    flex: none;
    flex-grow: 0;
    background: white;
    padding-bottom: 142px;
    padding-top: 76px;
  }

  .desktop-mv {
    margin-left: -35px;
  }

  .project1-btn {
    position: static;
    width: 124px;
    height: 48px;
    font-style: normal;
    padding: 12px;
    border-radius: 8px;
    font-weight: 380;
    background: #fff;
    margin-top: -30px;
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    flex: none;
    border: 1px solid #6070ff;
  }

  .discpara {
    color: #344563;
    flex: none;
    order: 1;
    margin-top: 20px;
    flex-grow: 0;
    margin-left: 2px;
    width: 94%;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 146px;
    line-height: 24px;
  }

  .discpara1 {
    color: #344563;
    flex: none;
    order: 1;
    margin-top: 20px;
    flex-grow: 0;
    margin-left: 225px;
    width: 367px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 146px;
    line-height: 24px;
  }

  .lang {
    display: flex;
    text-align: center;
    color: #6070ff;
    flex: none;
    flex-direction: row;
    height: 24px;
    background: #ebebff;
    background-size: cover;
    border-radius: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    align-items: center;
  }

  .canopy {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tonic2 {
    /* Size of desktop titles */
    font-size: 40px;
  }

  .desktop-mv-lang {
    margin-left: -35px;
    margin-top: -80px;
  }

  .abouttxt {
    margin-left: 227px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .getmyre-btn {
    position: static;
    width: 158px;
    height: 48px;
    font-style: normal;
    padding: 12px;
    border-radius: 8px;
    font-weight: 380;
    margin-left: 227px;
    background: #fff;
    margin-top: -10px;
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    flex: none;
    border: 1px solid #6070ff;
  }

  .arrow {
    width: 50px;
    margin-left: 2%;
  }

  .lang-arrow {
    display: flex;
    flex-direction: row;
    column-gap: 70%;
  }

  .plang {
    margin-right: -540px;
    color: #253858;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 78px;
  }

  .ellipse {
    position: absolute;
    margin-left: 10px;
  }

  .language1 {
    list-style-type: none;
    margin-top: 50px;
    margin-left: -1%;
  }

  .fr,
  .sk {
    border-bottom: 1px solid #dfe1e6;
    width: 600px;
  }

  .lang-block {
    display: flex;
    flex-direction: column;
  }

  .group-f {
    display: flex;
    column-gap: 20px;
  }

  .lang1 {
    background: #f7f7f9;
    width: 120px;
    height: 120px;
  }

  .lang-g1 {
    display: flex;
    column-gap: 70%;
  }

  .lang-g2 {
    display: flex;
    column-gap: 81%;
  }

  .mg {
    margin-left: 2%;
  }

  /* ***************** footer start ********************* */
  footer {
    background-image: url("./assets/images/Contact_me.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 846px;
    justify-content: center;
    padding: 24px;
    margin-top: 113.8px;
    margin-left: -8px;
    margin-right: -60px;
    margin-bottom: -8px;
  }

  footer p {
    text-align: center;
    margin-bottom: 87px;
  }

  input {
    height: 48px;
    background: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    padding-left: 16px;
    width: 447px;
    border: 1px solid #cfd8dc;
    margin: -10px 27px 30px 2px;
  }

  textarea {
    height: 170px;
    background: #fff;
    width: 447px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #b3bac5;
    padding-left: 16px;
  }

  .form-button {
    height: 48px;
    padding: 12px 16px;
    width: 140px;
    background: #fff;
    border-radius: 8px;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin: 25px 27px 30px 130px;
  }

  form {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: left;
    margin: 10px 27px 30px 497px;
  }

  .form-button:active {
    color: white;
    background: #2230d2;
  }

  .form-button:hover {
    background: #6070ff;
    color: #fff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .form-button:disabled {
    background: white;
  }

  .footerpara {
    color: #ebebff;
    font-size: 20px;
    width: 429px;
    font-style: normal;
    margin: -10px 27px 30px 497px;
  }

  .contact1 {
    font-size: 40px;
    color: wheat;
    color: white;
    width: 801px;
    margin: 70px 27px 30px;
    margin-left: 593px;
  }

  .desktop-mv-social {
    margin-left: -45px;
    margin-top: -16px;
  }

  .sty {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .desktop-size2 {
    /* Width for the language section */
    width: 60%;
  }

  .desktop-size1 {
    /* Width for the about section */
    width: 40%;
  }

  .desktop-mv-1 {
    margin-left: 183px;
  }

  .sk-mv {
    margin-top: -24px;
  }

  .mv3 {
    margin-left: 30px;
  }

  .cardpic-rt {
    position: static;
    width: 97%;
    height: 448px;
    left: 24px;
    margin-left: 20px;
    top: 24px;
    border-radius: 8px;
  }

  .worksf {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    column-width: 10%;
  }

  /* .main1 {
    display: inline-block;
  } */

  .desktop-hidden {
    display: none;
    width: 0px;
  }

  .cardpic-r {
    width: 100%;
    height: 448px;
    left: 24px;
    margin-left: -10px;
    top: 24px;
    border-radius: 8px;
    margin-top: -40px;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1100px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .main {
    background-image: url("assets/images/deskHeaderbg.png");
    background-size: 100%;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 24px;
  }

  .Hambugrer_menu {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    column-gap: 70%;
    margin-top: 40px;
    margin-left: 50px;
  }

  .menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  .header {
    width: 920px;
    height: 122px;
    margin-left: 227px;
    margin-top: 90px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    letter-spacing: 0.37px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .intropara {
    position: static;
    width: 750px;
    margin-left: 227px;
    margin-top: 70px;
    height: 98px;
    top: 134px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .lets-connect {
    margin-top: -10px;
    margin-left: 227px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .lets-connect-desktop2 {
    /* bottom */
    margin-top: -50px;
    margin-left: 227px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .connect-via {
    margin-left: 227px;
    margin-top: 10px;
  }

  .cardpic1 {
    position: static;
    width: 100%;
    height: 448px;
    left: 24px;
    margin-left: 12px;
    top: 24px;
    border-radius: 8px;
    margin-top: -40px;
  }

  .sz2  /*size of works1*/ {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .cardpic {
    display: none;
  }

  .worksec1d {
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    width: 86%;
    height: 530px;
    margin: 25px 0 25px 0;
    border-radius: 9px;
    background: white;
    padding-bottom: 142px;
    padding-top: 76px;
  }

  head .aboutsf {
    display: flex;
    flex-direction: column;
  }

  .aboutsec1d {
    display: flex;
    flex-direction: row;
    column-gap: 180px;
    width: 85%;
    height: 530px;
    margin-left: -55px;
    border-radius: 9px;
    flex: none;
    flex-grow: 0;
    background: white;
    padding-bottom: 142px;
    padding-top: 76px;
  }

  .desktop-mv {
    margin-left: -35px;
  }

  .project1-btn {
    position: static;
    width: 124px;
    height: 48px;
    font-style: normal;
    padding: 12px;
    border-radius: 8px;
    font-weight: 380;
    background: #fff;
    margin-top: -30px;
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    flex: none;
    border: 1px solid #6070ff;
  }

  .discpara {
    color: #344563;
    flex: none;
    order: 1;
    margin-top: 20px;
    flex-grow: 0;
    margin-left: 2px;
    width: 94%;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 146px;
    line-height: 24px;
  }

  .discpara1 {
    color: #344563;
    flex: none;
    order: 1;
    margin-top: 20px;
    flex-grow: 0;
    margin-left: 225px;
    width: 367px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 146px;
    line-height: 24px;
  }

  .lang {
    display: flex;
    text-align: center;
    color: #6070ff;
    flex: none;
    flex-direction: row;
    height: 24px;
    background: #ebebff;
    background-size: cover;
    border-radius: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    align-items: center;
  }

  .canopy {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .tonic2 {
    /* Size of desktop titles */
    font-size: 40px;
  }

  .desktop-mv-lang {
    margin-left: -35px;
    margin-top: -80px;
  }

  .abouttxt {
    margin-left: 227px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .getmyre-btn {
    position: static;
    width: 158px;
    height: 48px;
    font-style: normal;
    padding: 12px;
    border-radius: 8px;
    font-weight: 380;
    margin-left: 227px;
    background: #fff;
    margin-top: -10px;
    font-size: 17px;
    line-height: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    flex: none;
    border: 1px solid #6070ff;
  }

  .arrow {
    width: 50px;
    margin-left: 2%;
  }

  .lang-arrow {
    display: flex;
    flex-direction: row;
    column-gap: 70%;
  }

  .plang {
    margin-right: -540px;
    color: #253858;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: 78px;
  }

  .ellipse {
    position: absolute;
    margin-left: 10px;
  }

  .language1 {
    list-style-type: none;
    margin-top: 50px;
    margin-left: -1%;
  }

  .fr,
  .sk {
    border-bottom: 1px solid #dfe1e6;
    width: 600px;
  }

  .lang-block {
    display: flex;
    flex-direction: column;
  }

  .group-f {
    display: flex;
    column-gap: 20px;
  }

  .lang1 {
    background: #f7f7f9;
    width: 120px;
    height: 120px;
  }

  .lang-g1 {
    display: flex;
    column-gap: 70%;
  }

  .lang-g2 {
    display: flex;
    column-gap: 81%;
  }

  .mg {
    margin-left: 2%;
  }

  /* ***************** footer start ********************* */
  footer {
    background-image: url("./assets/images/Contact_me.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 846px;
    justify-content: center;
    padding: 24px;
    margin-top: 113.8px;
    margin-left: -8px;
    margin-right: -60px;
    margin-bottom: -8px;
  }

  footer p {
    text-align: center;
    margin-bottom: 87px;
  }

  input {
    height: 48px;
    background: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    padding-left: 16px;
    width: 447px;
    border: 1px solid #cfd8dc;
    margin: -10px 27px 30px 2px;
  }

  textarea {
    height: 170px;
    background: #fff;
    width: 447px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #b3bac5;
    padding-left: 16px;
  }

  .form-button {
    height: 48px;
    padding: 12px 16px;
    width: 140px;
    background: #fff;
    border-radius: 8px;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin: 25px 27px 30px 130px;
  }

  form {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    justify-content: left;
    margin: 10px 27px 30px 497px;
  }

  .form-button:active {
    color: white;
    background: #2230d2;
  }

  .form-button:hover {
    background: #6070ff;
    color: #fff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  .form-button:disabled {
    background: white;
  }

  .footerpara {
    color: #ebebff;
    font-size: 20px;
    width: 429px;
    font-style: normal;
    margin: -10px 27px 30px 497px;
  }

  .contact1 {
    font-size: 40px;
    color: wheat;
    color: white;
    width: 801px;
    margin: 70px 27px 30px;
    margin-left: 593px;
  }

  .desktop-mv-social {
    margin-left: -45px;
    margin-top: -16px;
  }

  .sty {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .desktop-size2 {
    /* Width for the language section */
    width: 60%;
  }

  .desktop-size1 {
    /* Width for the about section */
    width: 40%;
  }

  .desktop-mv-1 {
    margin-left: 183px;
  }

  .sk-mv {
    margin-top: -24px;
  }

  .mv3 {
    margin-left: 30px;
  }

  .cardpic-rt {
    position: static;
    width: 97%;
    height: 448px;
    left: 24px;
    margin-left: 20px;
    top: 24px;
    border-radius: 8px;
  }

  .worksf {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    column-width: 10%;
  }

  /* .main1 {
    display: inline-block;
  } */

  .desktop-hidden {
    display: none;
    width: 0px;
  }

  .cardpic-r {
    width: 100%;
    height: 448px;
    left: 24px;
    margin-left: -10px;
    top: 24px;
    border-radius: 8px;
    margin-top: -40px;
  }
}
